{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<turbo-frame id="id-user">
  <div>
    {{ form_start(formUser) }}
    {{ form_label(formUser.firstname) }}
    {{ form_widget(formUser.firstname) }} {# pour chaque input qu'on récupère #}
    {{ form_label(formUser.lastname) }}
    {{ form_widget(formUser.lastname) }} 
    {{ form_label(formUser.email) }}
    {{ form_widget(formUser.email) }}
    {{ form_label(formUser.password) }} 
    {{ form_widget(formUser.password) }} 
    {{ form_rest(formUser) }}{# pour faire un token #}
    {{ form_end(formUser) }}
  </div>
    {% include "composants/_toast.html.twig" %}

</turbo-frame>
{% endblock %}
